.task-preview-container {
    position: relative;

    .task-preview {
        background-color: $clr5;
        color: $clr8;
        margin-bottom: 8px;
        border-radius: 3px;
        box-shadow: 0 1px 0 $clr17;
        cursor: pointer;

        &:hover {
            background-color: $clr12;

            .task-edit-icon {
                display: flex;
                justify-content: center;

                &:hover {
                    color: $clr14;
                    background-color: $clr29;
                }
            }
        }

        .task-cover {
            border-radius: 3px 3px 0 0;
        }

        .task-cover-color {
            height: 32px;
            width: 100%;
        }

        .task-edit-icon {
            display: none;
            position: absolute;
            top: 2px;
            right: 2px;
            height: 28px;
            width: 28px;
            border-radius: 3px;
            font-size: 15px;
            color: $clr10;
            background-color: inherit;
        }

        .task-preview-details {
            padding: 6px 8px 3px;

            .task-preview-title {
                line-height: 20px;
                margin-bottom: 2px;
            }

            .badge-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }
        }
    }
}